/*******************************
	All Responsive Code
*******************************/


/* hero */
@media (max-width:575px) {

	.img-div {
		width: 264px;
		height: auto;
		margin: auto;
			margin-top: auto;
		margin-top: -84px;
	}
		}

		@media (max-width:575px) {
			.text-div span {
				font-size: 15px;
				text-transform: capitalize;
				font-weight: 400;
				font-family: arial;
				display: block;
				text-align: end;
				margin-right: 36px;
			}
				}
		
	



@media (max-width:991px) {

.w-design {
			margin-top: 50px;
		
		}
	}

@media (max-width:991px){
	.form-button a{
		border: 3px solid #2dbf08;
	}
}

@media (max-width:991px){
	.form-w-m {
        z-index: 1;
        margin: 12px 0px;
        background: #00ff42;
        border-radius: 5px;
        font-family: arial;
        font-weight: 600;
        font-size: 16px;
		padding: 8px 10px;
         padding-bottom: 0px;
        padding-bottom: 22px;
    }
	
}


@media (min-width:992px){
	.form-w-m{
		   background: transparent;
		  margin: 0;
		  padding: 0;
     
	}
	
}

/* Form */

@media (min-width:992px){
	.name-email-feild {
		
		margin-top: 16px;

	padding: 19px 12px;
	
	margin-bottom: 12px;
}
}


@media (min-width:992px){
	.form-button a {
	
		margin-top: 0px;
		
	}

	.text-feild {
		padding: 15px 10px;
	}
}
@media (min-width:1200px){
	.text-feild {
		padding: 5px 10px;
	}
}


/* end form */




@media (max-width:991px){
	.contant-top-header {
	margin-top: 42px;
	}
}

@media (max-width:767px){
	.copright-text span {

		font-size: 12px;
	}
}

/* navbar */
@media (max-width:991px){
	.menu-header ul li a {
	
		padding: 17px 13px;
	
	}
	
	
}

@media (max-width:767px){
	.menu-header ul li a {

		display: block;
	
		color: #050405;
	
		transition: all .5s;
		border-bottom: 1px solid #d8cdcd;}
	
	}
	


@media (max-width:767px){
	.menu-header ul li a:hover {

		border-bottom: 1px solid #5ac339;
		color: #22a732;
		background: none;
	
	}
	
	
}
@media (max-width:767px){
	.nav-wrppper {

		
		padding-top: 10px;
	
	}
	
	
}
@media (max-width:576px){
	.nav-wrppper {

		padding: 10px 25px;
	
	}
	
	
	
	
}
@media (min-width:991px){
	
	.red{
        background: black;
    }
}




















@media (max-width:767px){
	.copright-text span {

		font-size: 12px;
	}
}
@media (max-width:767px){
	.copright-text span {

		font-size: 12px;
	}
}


